[Unit]
Description=ip2gist
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/ip2gist
ExecStart=/opt/ip2gist/ip2gist

[Install]
WantedBy=multi-user.target
